@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Press+Start+2P&display=swap');

body {
  background-image: url(../img/rogers.gif);
}

.container {
  background-color: rgba(255, 224, 45, 0.597);
  padding: 2em;
  margin-top: 4em;
  margin-bottom: 4em;
}

h1 {
  font-family: 'Orbitron';
  text-align: center;
  color: rgb(214, 241, 214);
  font-size: 3em;
  background-color: rgb(0, 0, 0);
  padding: .5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

h3 {
  font-family: 'Press Start 2P';
  font-size: 1.5em;
  margin: 2em;
}

.btn {
  font-family: 'Press Start 2P';
  padding: 1.5em;
  margin-top: 2em;
}

form {
  background-color: rgb(0, 0, 0);
  padding: 3em;
  margin-left: 10em;
  margin-right: 10em;
}

label {
  font-family: 'Orbitron';
  font-size: 2em;
  color: rgb(214, 241, 214);
  margin-bottom: 1em;
}

.formElement {
  text-align: center;
}